Source: vanilla-beta-notice
Section: utils
Priority: optional
Maintainer: Mirko Brombin <send@mirko.pm>
Build-Depends: debhelper (>= 11),
Homepage: https://github.com/vanilla-os/vanilla-beta-notice/
Vcs-Browser: https://github.com/vanilla-os/vanilla-beta-notice
Vcs-Git: https://github.com/vanilla-os/vanilla-beta-notice.git
Rules-Requires-Root: no

Package: vanilla-beta-notice
Architecture: all
Description: Vanilla OS Beta Notice for testers.
